<h2>{{event.eventId ? "Modifier" : copyOf ? "Copier" : "Créer" }} un événement</h2>

<form>

  <mat-form-field style="width: 100%;">
    <input matInput placeholder="Nom de l'événement" [(ngModel)]="event.name" name="name">
  </mat-form-field>

  <mat-form-field style="width: 100%;">
    <input matInput [matDatepicker]="picker" placeholder="Date de début" [(ngModel)]="event.eventBegin" name="eventBegin">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="submit()" [disabled]="sending">{{event.eventId ? "Modifier" : copyOf ? "Copier" : "Créer" }} !</button>
</form>

<mat-card-footer>
  <mat-progress-bar mode="indeterminate" *ngIf="sending"></mat-progress-bar>
</mat-card-footer>
