<h3>Résumé de l'événement</h3>
<p>Visibilité : {{event.visibility}}</p>

<h3>Clonage</h3>
<p>Vous pouvez copier les formulaires d'un autre événement ici.</p>
<button mat-stroked-button (click)="copy()">Choisir un événement à cloner</button>

<br>
<h3>Statistiques</h3>
<div fxLayout="row" *ngIf="states">
  <div class="stat" fxFlex>
    <h3 class="digit">{{countApplications(ApplicationState.Accepted)}}</h3>
    <p class="name">staffs</p>
  </div>
  <div class="stat" fxFlex>
    <h3 class="digit">{{totalApplications}}</h3>
    <p class="name">candidatures totales</p>
  </div>
  <div class="stat" fxFlex>
    <h3 class="digit">{{countApplications(ApplicationState.Sent)}}</h3>
    <p class="name">candidatures en attente</p>
  </div>
  <div class="stat" fxFlex>

    <h3 class="digit">{{countApplications(ApplicationState.Refused)}}</h3>
    <p class="name">candidatures refusées</p>
  </div>
</div>

<br>
<h3>Réponses en attente</h3>
<p>Liste, par formulaire, les réponses envoyées mais pas encore acceptées ou refusées. Vous pouvez obtenir une liste complète des réponses via le menu <b><a [routerLink]="['forms']">Formulaires</a></b>.</p>

<ng-container *ngFor="let form of forms">
  <h1>{{form.name}}</h1>
  <app-applications-listing [form]="form.formId" [state]="ApplicationState.Sent"></app-applications-listing>
</ng-container>
