<h3>Résumé de l'événement</h3>

<button mat-raised-button (click)="edit()"><mat-icon>create</mat-icon> Modifier l'événement</button>

<ul *ngIf="event">
  <li>Nom : {{event.name}}</li>
  <li>Date de début : {{event.eventBegin}}</li>
  <li>Actif : <mat-slide-toggle (change)="toggleActivate($event)" [disabled]="updatingActivation" [checked]="event.isActive"></mat-slide-toggle> <mat-spinner diameter="17" style="display: inline-block;" *ngIf="updatingActivation"></mat-spinner>  </li>
  <li>Formulaire principal : {{event.mainForm ? "défini" : "non défini"}}</li>
</ul>

<br>
