<h2>Gestion d'un poste au planning</h2>
<button [routerLink]="['../..']" mat-stroked-button>Retour au planning</button>
<br>

<mat-spinner *ngIf="loading"></mat-spinner>

<mat-horizontal-stepper [linear]="true" #stepper *ngIf="!loading">
  <mat-step #detailsStep>
    <ng-template matStepLabel>Détails du poste</ng-template>

    <app-scheduling-task-create [task]="task" [stepper]="stepper" [step]="detailsStep"></app-scheduling-task-create>


  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Plages horaires</ng-template>

    <app-scheduling-task-partitions *ngIf="task.id" [task]="task.id" [project]="projectId"></app-scheduling-task-partitions>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Génération des slots</ng-template>

    <app-scheduling-slots-show *ngIf="task.id" [task]="task.id" [project]="projectId"></app-scheduling-slots-show>
  </mat-step>
</mat-horizontal-stepper>
