<h3>Gestion des formulaires</h3>

<button mat-raised-button (click)="create()">
  <mat-icon matListIcon>create_new_folder</mat-icon>
  Nouveau formulaire
</button>

<br><br>

<mat-accordion class="headers-align">
  <mat-expansion-panel *ngFor="let form of forms">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{form.name}}
      </mat-panel-title>
      <mat-panel-description>
        Visibilité : {{ form.hidden ? "Invisible" : form.requiresStaff ? "Staffs seulement" : "Visible par tous" }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <button (click)="update(form)" mat-raised-button style="margin-right: 8px;"><mat-icon>update</mat-icon> Modifier le formulaire</button>
    <button (click)="delete(form)" [disabled]="form.isMain" mat-raised-button color="warn" style="margin-right: 8px;"><mat-icon>delete</mat-icon> Supprimer</button>
    <button (click)="setDefault(form)" mat-raised-button color="primary"
            [disabled]="settingDefault || form.isMain"><mat-icon>assignment_ind</mat-icon>
      {{form.isMain ? "Formulaire par défaut" : "Définir par défaut" }}</button>
    <a [routerLink]="[form.formId, 'applications']" mat-raised-button style="margin-left: 8px;"><mat-icon>list</mat-icon> Voir les réponses</a>

    <p><b>{{form.shortDescription}}</b> <br>{{form.description}}</p>
    <p *ngIf="form.closeDate"><b>Fermeture: </b>{{date(form)}}</p>

    <mat-action-list *ngIf="pages.get(form.formId)">
      <mat-list-item *ngFor="let page of pages.get(form.formId)" [routerLink]="[form.formId, 'pages', page.pageId]">
        <mat-icon matListIcon>list_alt</mat-icon>
        <p matLine>{{ page.name }}</p>
        <p matLine>{{ page.description }}</p>
      </mat-list-item>

      <mat-list-item *ngIf="pages.get(form.formId).length == 0">
        <p matLine><i>Aucune page enregistrée...</i></p>
      </mat-list-item>

      <mat-list-item (click)="createPage(form)">
        <mat-icon matListIcon>create</mat-icon>
        <p matLine>Nouvelle page</p>
      </mat-list-item>
    </mat-action-list>

  </mat-expansion-panel>
</mat-accordion>

<b *ngIf="forms && forms.length === 0">Aucun formulaire enregistré pour le moment.</b>

<br>
