.sticky{
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 10;
}

mat-icon {
  margin-right: 8px;
}

.active {
  background: rgba(0,0,0,.08);
  font-weight: bold;
}

.active:hover {
  background: rgba(0,0,0,.12);
  font-weight: bold;
}
