<mat-sidenav-container style="min-height: calc(100% - /* hardcoded toolbar size */ 64px);">

  <mat-sidenav #nav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches"
               style="min-width: 15%;"
               [disableClose]="!mobileQuery.matches">

    <mat-nav-list>
      <button mat-list-item (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
        Retour</button>
      <a mat-list-item [class.active]="subUrl === ''" [routerLink]="['.']">
        <mat-icon>create</mat-icon>
        Accueil événement</a>
      <a mat-list-item [class.active]="subUrl === 'forms'" [routerLink]="['forms']">
        <mat-icon>keyboard</mat-icon>
        Formulaires</a>
      <a mat-list-item [class.active]="subUrl === 'staffs'" [routerLink]="['staffs']">
        <mat-icon>list</mat-icon>
        Staffs</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div fxLayout fxLayoutAlign="center" fxLayoutGap="20px" style="margin-top: 25px;">

      <div fxFlex="1 1 95%" fxFlex.lt-sm="1 1 98%">
        <mat-spinner *ngIf="!event"></mat-spinner>

        <ng-container *ngIf="event">
          <h1 style="position: page;">
            <button *ngIf="mobileQuery.matches" mat-icon-button (click)="nav.toggle()" style="top: -0.5rem;">
              <mat-icon>menu</mat-icon>
            </button>
            Gestion de l'événement :: {{event.name}}
          </h1>

          <router-outlet #outlet="outlet" (activate)="act($event, outlet)"></router-outlet>
        </ng-container>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


