<h2>Liste des staffs</h2>

<mat-spinner *ngIf="!staffs"></mat-spinner>

<table *ngIf="staffs" mat-table [dataSource]="staffs">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID</th>
    <td mat-cell *matCellDef="let staff"> #{{staff.staffNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="user">
    <th mat-header-cell *matHeaderCellDef> Nom</th>
    <td mat-cell *matCellDef="let staff"> {{staff.user.details.firstName}} {{staff.user.details.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email</th>
    <td mat-cell *matCellDef="let staff"> {{staff.user.email}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions</th>
    <td mat-cell *matCellDef="let staff">

      <button mat-button (click)="openApplication(staff.applicationId)">Candidature</button>
      <button mat-button (click)="openHistory(staff.user.id)">Historique</button>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['id', 'user', 'email', 'actions']"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: ['id', 'user', 'email', 'actions']"></tr>

  <mat-paginator [pageSizeOptions]="[20, 50, 100, 200]" showFirstLastButtons></mat-paginator>
</table>
