<h2>Visualisation d'une réponse</h2>

<mat-spinner *ngIf="!application"></mat-spinner>

<ng-container *ngIf="application">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Détails du candidat</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        <b>Nom : </b> {{application.user.firstName}} {{application.user.lastName.toUpperCase()}} <br>
        <b>Email : </b> {{application.user.email}} <br>
        <b>Date de naissance : </b> {{application.user.birthDate}} <br>
        <b>Adresse : </b> {{application.user.address}} <br>
        <b>N° de téléphone : </b> {{application.user.phone}} <br>
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card *ngFor="let app of application.content">
    <mat-card-header>
      <mat-card-title>{{app.page.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{app.page.description}}</p>
      <ul>
        <li *ngFor="let field of app.fields"><b>{{field.field.name}} :</b> {{field.value ? field.value : '(manquant)'}}</li>
      </ul>
    </mat-card-content>
  </mat-card>
  <mat-card class="admin">
    <mat-card-header>
      <mat-card-title>Statut: <b>{{readable(application.state)}}</b></mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button *ngIf="application.state !== ApplicationState.Accepted">ACCEPTER</button>
      <button mat-button *ngIf="application.state !== ApplicationState.Refused">REFUSER</button>
      <button mat-button *ngIf="application.state !== ApplicationState.RequestedChanges">DEMANDER DES CHANGEMENTS</button>
      <button mat-button *ngIf="application.state !== ApplicationState.Sent">METTRE EN ATTENTE</button>
    </mat-card-actions>
  </mat-card>

  <h2>Commentaires</h2>

  <mat-card class="admin">
    <mat-card-header>
      <mat-card-title>Publier un commentaire</mat-card-title>
    </mat-card-header>
    <mat-card-content>

    </mat-card-content>
  </mat-card>

  <mat-card *ngFor="let comment of comments"
            [class.comment-public]="comment.comment.userVisible"
            [class.comment-private]="!comment.comment.userVisible"
  >
    <mat-card-header>
      <mat-card-title>{{date(comment.comment.timestamp)}} <mat-icon>{{comment.comment.userVisible ? 'visibility' : 'visibility_off'}}</mat-icon></mat-card-title>
      <mat-card-subtitle>{{comment.author.firstName}} ({{comment.author.email}})</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{comment.comment.value}}
      </p>
    </mat-card-content>
  </mat-card>

</ng-container>
