<h1>Projet de planning tata</h1>

<p>Un planning est réalisé en plusieurs étapes :</p>

<ol>
  <li>Renseignement des <b>postes</b> (<i>tâches</i>)</li>
  <li>Renseignement des <i>partitions</i> de postes : combien de staffs, et quand</li>
  <li><b>Génération des <i>slots</i> - "cases" du planning</b>. Cette étape est automatique. Relancer cette étape
  provoque la suppression du planning !</li>
  <li><b>Génération d'un planning : assignation des staffs dans les cases, en respectant des contraintes</b></li>
</ol>

Vous pouvez tout au long du processus ajouter de nouvelles contraintes (untel absent à telle heure...) ou capacités
(une telle tâche demande d'être doué en X, untel et untel sont doués en X).<br>


<hr>
