<ng-container *ngIf="projectData">
  <h1>Gestion du planning {{projectData.projectTitle}}</h1>
  <p>Maximum <b>{{projectData.maxTimePerStaff}} heures</b> de staffing par jour, avec pauses
    de <b>{{projectData.minBreakMinutes}} minutes</b> au minimum entre deux shifts, et avec au maximum
  <b>{{projectData.maxSameShiftType}} shifts de même type</b> par jour.</p>

  <h2>Liste des postes</h2>

  <mat-action-list *ngIf="tasks">

    <mat-list-item *ngIf="tasks.length > 15" [routerLink]="['.', 'task', 'create']">
      <mat-icon matListIcon>add</mat-icon>
      <p matLine>Créer un poste</p>
    </mat-list-item>
    <mat-list-item *ngFor="let task of tasks" mat-list-item [routerLink]="['.', 'task', task.id]">
      <mat-icon matListIcon>assignment</mat-icon>
      <p matLine>{{task.name}}</p>
    </mat-list-item>
    <mat-list-item [routerLink]="['.', 'task', 'create']">
      <mat-icon matListIcon>add</mat-icon>
      <p matLine>Créer un poste</p>
    </mat-list-item>
  </mat-action-list>

  <mat-spinner *ngIf="!tasks"></mat-spinner>

  <hr>

  <h2>Contraintes</h2>

  <p>Les contraintes permettent d'ajouter certaines conditions spécifiques à un staff ou un poste lors de la génération
  du planning.</p>

  <button [routerLink]="['.', 'constraints']" mat-stroked-button>Gérer les contraintes</button>

  <hr>

  <h2>Génération du planning</h2>

  <p>Cliquer sur le bouton ci dessous pour accéder à l'historique des versions du planning, et, si tel est votre souhait, en générer un nouveau.</p>

  <button mat-stroked-button [routerLink]="['.', 'versions']" style="margin-left: 20px;">Voir toutes les versions du planning</button>

  <br>
  <br>
  <br>

</ng-container>
<ng-container *ngIf="!projectData">
  <p>Chargement du projet...</p>
  <mat-spinner></mat-spinner>
</ng-container>
